<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{38,1},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role.pvr.ccz</string>
            <key>size</key>
            <string>{66,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef89d575cb711e81a7bb1d6e11a4251b:1d8d24b749dee768152156010f16c013:c7f724d6c30314d5f0ba98940d931d6f$</string>
            <key>textureFileName</key>
            <string>role.pvr.ccz</string>
        </dict>
    </dict>
</plist>
